<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Registrar
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>
<div class="">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="">
          <ion-input placeholder="Tipo Documento" required [(ngModel)]="username">
            <!-- <ion-icon name="person"></ion-icon>  -->
          </ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div class="">
          <ion-input placeholder="Numero Documento" required [(ngModel)]="username">
            <!-- <ion-icon name="person"></ion-icon>  -->
          </ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="">
          <ion-input placeholder="Primer Nombre" required [(ngModel)]="username">
            <!-- <ion-icon name="person"></ion-icon>  -->
          </ion-input>
        </div>
      </ion-col>
  
      <ion-col>
        <div class="">
          <ion-input placeholder="Segundo Nombre" required [(ngModel)]="username">
            <!-- <ion-icon name="person"></ion-icon>  -->
          </ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="">
          <ion-input placeholder="Primer Apellido" required [(ngModel)]="username">
            <!-- <ion-icon name="person"></ion-icon>  -->
          </ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div class="">
          <ion-input placeholder="Segundo Apellido" required [(ngModel)]="username">
            <!-- <ion-icon name="person"></ion-icon>  -->
          </ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="">
          <ion-input placeholder="Fecha Expedicion" required [(ngModel)]="username">
            <!-- <ion-icon name="person"></ion-icon>  -->
          </ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div class="">
          <ion-input placeholder="Fecha Nacimiento" required [(ngModel)]="username">
            <!-- <ion-icon name="person"></ion-icon>  -->
          </ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="">
          <ion-input placeholder="Direccion" required [(ngModel)]="username">
            <!-- <ion-icon name="person"></ion-icon>  -->
          </ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div class="">
          <ion-input placeholder="Correo" required [(ngModel)]="username">
            <!-- <ion-icon name="person"></ion-icon>  -->
          </ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="">
          <ion-input placeholder="Contraseña" required [(ngModel)]="username">
            <!-- <ion-icon name="person"></ion-icon>  -->
          </ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div class="">
          <ion-input placeholder="Repita Contraseña" required [(ngModel)]="username">
            <!-- <ion-icon name="person"></ion-icon>  -->
          </ion-input>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>